@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;

    background-image: url('images/4.jpg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 50% right 50%;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-weight: 800;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 1.8rem;
    list-style: none;
    color: black;

}

.navigation ul li {
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--font);
}

/* end design of header */

section {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

button {
    height: 35px;
    width: 130px;
    margin: 50px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    outline: none;
    border: none;

}
button:hover {
    color: var(--font);
}
input[type=text] {
    width: 200px;
    height: 35px;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    background: transparent;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    margin: 1px 23px 23px 23px;
}

.newfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-right: 5px solid gray;

}

.tagline {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5rem;
    font-weight: 900;
}

#addnew {
    margin: 0px auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.progress {
    display: flex;
    flex-direction: column;
    margin: 167px 0px 0px 50px;
}
.radio
{
    margin: 0px 0px 20px 0px;
}