:root {
    --col1: #1bbc9b;
    --primary: #017e7e;
    --background: #01e08f;
    --font: #000000;
    --underline: #379683;
    --strip: #34495e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;

}

html {
    overflow: hidden;
}

body {
    font-family: 'Readex Pro', sans-serif;

}

main {
    width: 300px;
    margin: 50px auto;
    border: 2px solid;
    padding: 10px;
}

main .image {
    text-align: center;
    margin-bottom: 30px;
}

main .image img {
    height: 100px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .radio {
    margin-right: 70px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 190px;
    height: 20px;
    margin: 10px;
    padding: 12px 0px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: transparent;
    color: var(--primary);
}

button {
    height: 35px;
    width: 130px;
    margin: 50px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    outline: none;
    border: none;
    transition: background-color 3s;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--font);
}