@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;

    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom 0% right 90%;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 1.8rem;
    list-style: none;
    color: black;

}

.navigation ul li {
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--font);
}

/* end design of header */

/* Start Design of main content  */

.mainBox {
    margin: 224px 0px 0px 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainBox .heading .headline {
    color: var(--font);
    font-size: small;
    margin: 20px 0px 2px 70px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}
.mainBox .mainContent {
    margin-bottom: 100px;
    font-size: 2rem;
    color: var(--font);

}

.mainBox .mainContent .main {
    display: flex;
    flex-direction: row;
    text-align: center;

}




input[type=text] {
    width: 200px;
    height: 35px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    background: transparent;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    margin: 23px 23px 23px 23px;
}

.main #btn #btn1 {
    height: 36px;
    width: 130px;
    margin: 23px 0px 0px 0px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
}