@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --col1: #1bbc9b;
    --primary: #017e7e;
    --background: #01e08f;
    --font: #000000;
    --underline: #379683;
    --strip: #34495e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;
}

body {
    overflow: hidden;
    font-family: 'Readex Pro', sans-serif;

}

.header {
    background-color: var(--primary);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header #logo {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 0.7rem;

}

.navbar-list {
    display: flex;
    gap: 2.8rem;
    list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    color: white;
    transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--background);
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;

}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: white;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

.mainBox {
    margin: 100px 20px 5px 20px;
    display: flex;
    justify-content: space-evenly;
}

.mainBox .heading {
    float: left;
    margin-top: 7%;
}

.mainBox .heading .headline {
    color: var(--primary);
    font-size: small;
    margin: 20px 0px 2px 70px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}



.mainBox .mainContent {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 2rem;
    color: var(--font);

}

.mainBox .mainContent .main {
    padding: 40px;
    margin: 5px;
    text-align: center;
    width: 300px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

input[type=text] {
    width: 171px;
    height: 20px;
    margin: 5px;
    padding: 12px 0px;
    font-weight: 900;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: transparent;
    color: var(--primary);
}



.mainBox .mainContent .main #btn #btn1 {
    height: 35px;
    width: 130px;
    margin: 23px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    text-align: center;
    outline: none;
    border: none;
    transition: background-color 3s;
}

.mainBox .mainContent .main #btn #btn1:hover {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--font);
}

.footer {
    background-color: var(--primary);
    height: 130px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

@media only screen and (max-width: 456px) {
    .header #logo {
        display: block;
    }

    main {
        background-size: 107%;
        background-repeat: no-repeat;
        background-position: left 104%;
    }


    .mainBox {
        margin: 50px 20px 5px 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .mainBox .heading p {
        font-size: 1.2rem;
        text-align: left;
        width: 12.5rem;


    }

    .mainBox .heading .headline {
        font-size: 1.2rem;
        text-align: justify;


    }

    .mainBox .mainContent {
        font-size: 1.3rem;

    }


    .mainBox .mainContent .main {
        padding: 60px 10px 65px 10px;
        margin: 0px 10px 10px 10px;
        width: 270px;

    }

    input[type=text] {
        margin: 10px;
    }

    .footer {
        bottom: -130;
    }
}

@media (max-width: 62em) {
    .mainBox {
        margin: 50px 20px 5px 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .mobile-navbar-btn {
        height: 4rem;
        width: 4rem;
        display: block;
        z-index: 999;

    }

    .header {
        position: relative;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background: var(--primary);
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow: hidden;
    }

    .navbar-list {
        gap: 1.8rem;
        flex-direction: column;
        align-items: center;
    }

    .navbar-link:link {
        font-size: 2rem;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .footer {
        bottom: -130px;
    }
}