@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    /* overflow: hidden; */
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-weight: 800;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 1.8rem;
    list-style: none;
    color: black;
    


}

.navigation ul li {
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--font);
}

/* end design of header */
.mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainBox .heading .headline {
    color: var(--font);
    font-size: small;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.mainBox .mainContent {
    font-size: 2rem;
    color: var(--font);

}

.mainBox .mainContent .main {
    display: flex;
    flex-direction: row;
    text-align: center;

}




input[type=text] {
    width: 500px;
    height: 38px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    background: transparent;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    margin: 5px -130px 0px 20px;

}

.main #btn #btn1 {
    height: 40px;
    width: 130px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
}
#btn1:hover {
    color: var(--font);
}
.details {
    margin: 80px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info,
.status {
    height: 250px;
    width: 700px;
    border: 2px solid grey;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    padding-bottom: 25px;
}

.result img {
    height: 150px;
    width: 150px;
}

.keypoint {
    border: 2px solid rgb(116, 113, 113);
    height: 150px;
    width: 250px;
}

.path {

    width: 1000px;
    border: 2px solid rgb(116, 113, 113);

}